.git
.github
.devcontainer
*.md
docs/
docker-compose*.yml
config.yaml
config.yml
.env*
.envrc
.direnv
.pnpm-store
node_modules
package.json
flake.nix
flake.lock
*.test
coverage*
Dockerfile
.dockerignore
